<script type="text/javascript">
  var submitted = false;
</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)
{window.location='http://coletownsend.com/twas-a-pleasure/';}"></iframe>
<form class="google-form" action="https://docs.google.com/a/twnsnd.co/forms/d/1RJkQU3hOtYVsppJs6NfWzD2lpXV8XbTWAHvwXVP7pw8/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
  <ol role="list" class="ss-question-list" style="padding-left: 0">
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item ss-item-required ss-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1005068666">
            <div class="ss-q-title">What is your email?
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr">What is the email we've been working with? </div>
          </label>
          <input type="text" name="entry.1005068666" value="" class="ss-q-short" id="entry_1005068666" dir="auto" aria-label="What is your email? What is the email we've been working with?  Sorry, I need a valid email address." aria-required="true" required=""
          pattern="^[a-zA-Z0-9.!#$%&amp;'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" title="Sorry, I need a valid email address.">
          <div class="error-message" id="494265428_errorMessage">Sorry, I need a valid email address.</div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1652389801">
            <div class="ss-q-title">How did you like working with me?
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr">Good communication, great product, etc.</div>
          </label>
          <textarea name="entry.1652389801" rows="8" cols="0" class="ss-q-long" id="entry_1652389801" dir="auto" aria-label="How did you like working with me? Good communication, great product, etc. " aria-required="true" required=""></textarea>
          <div class="error-message" id="1193881476_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_125155506">
            <div class="ss-q-title">What didn't you like about working with me, or what would you like to see done differently?
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr">Honesty is great! This is only seen by me, and will improve my and our future work.</div>
          </label>
          <textarea name="entry.125155506" rows="8" cols="0" class="ss-q-long" id="entry_125155506" dir="auto" aria-label="What didn't you like about working with me, or what would you like to see done differently? Honesty is great! This is only seen by me, and will improve my and our future work. "
          aria-required="true" required=""></textarea>
          <div class="error-message" id="653029195_errorMessage"></div>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-scale">
        <div class="ss-form-entry">
          <label class="ss-q-item-label" for="entry_1996629956">
            <div class="ss-q-title">Overall Experience
            </div>
            <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
          </label>

          <table border="0" cellpadding="5" cellspacing="0" id="entry_592793091">
            <tbody>
              <tr aria-hidden="true">
                <td class="ss-scalenumbers"></td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_1">1</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_2">2</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_3">3</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_4">4</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_5">5</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_6">6</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_7">7</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_8">8</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_9">9</label>
                </td>
                <td class="ss-scalenumbers">
                  <label class="ss-scalenumber" for="group_592793091_10">10</label>
                </td>
                <td class="ss-scalenumbers"></td>
              </tr>
              <tr role="radiogroup" aria-label="Overall Experience  Select a value from a range of 1,Terrible, to 10,Incredible,.">
                <td class="ss-scalerow ss-leftlabel">
                  <div aria-hidden="true" class="aria-todo">Terrible</div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="1" id="group_592793091_1" role="radio" class="ss-q-radio" aria-label="1">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="2" id="group_592793091_2" role="radio" class="ss-q-radio" aria-label="2">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="3" id="group_592793091_3" role="radio" class="ss-q-radio" aria-label="3">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="4" id="group_592793091_4" role="radio" class="ss-q-radio" aria-label="4">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="5" id="group_592793091_5" role="radio" class="ss-q-radio" aria-label="5">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="6" id="group_592793091_6" role="radio" class="ss-q-radio" aria-label="6">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="7" id="group_592793091_7" role="radio" class="ss-q-radio" aria-label="7">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="8" id="group_592793091_8" role="radio" class="ss-q-radio" aria-label="8">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="9" id="group_592793091_9" role="radio" class="ss-q-radio" aria-label="9">
                  </div>
                </td>
                <td class="ss-scalerow">
                  <div class="ss-scalerow-fieldcell">
                    <input type="radio" name="entry.592793091" value="10" id="group_592793091_10" role="radio" class="ss-q-radio" aria-label="10">
                  </div>
                </td>
                <td class="ss-scalerow ss-rightlabel" aria-hidden="true">Incredible</td>
              </tr>
            </tbody>
          </table>
          <div class="required-message">This is a required question</div>
        </div>
      </div>
    </div>
    <input type="hidden" name="draftResponse" value="[,,&quot;-2392143048221649924&quot;]
">
    <input type="hidden" name="pageHistory" value="0">


    <input type="hidden" name="fbzx" value="-2392143048221649924">

    <div class="ss-item ss-navigate">
      <table id="navigation-table">
        <tbody>
          <tr>
            <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ol>
</form>
