<head data-no-instant>

  <title>{{site.name}}</title>

  <meta name="author" content="{{site.author.name}}">
  <meta name="description" content="{{site.description}}">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

	<!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->

  <link data-instant href="//cloud.webtype.com/css/bf74e1bf-b2c3-4c81-b846-9e5db693f269.css" rel="stylesheet" type="text/css" />

  <!-- Icons -->
  <link data-instant rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}{{ site.image.assets }}favicon-256x256.png">
  <link data-instant rel="shortcut icon" href="{{ site.url }}{{ site.image.assets }}favicon.ico">

  <!-- RSS -->
  <link data-instant rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/atom.xml">
</head>
