<!-- JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- build:js /assets/javascript/all.min.js -->
<script data-no-instant src="{{ site.script }}jquery.fluidbox.js"></script>
<script data-no-instant type="text/javascript" src="{{ site.script }}animsition.js"></script>
<script data-no-instant type="text/javascript" src="{{ site.script }}anim-link.js"></script>
<script data-no-instant type="text/javascript" src="{{ site.script }}no-src.js"></script>
<script data-no-instant src="{{ site.script }}velocity.min.js"></script>
<script src="{{ site.script }}velocity.ui.min.js"></script>
<!-- endbuild -->

<!-- Scroll click -->
<script>
$(document).ready(function() {
  // bind click event to all internal page anchors
  $("a[href*=#]").bind("click", function(e) {
    // prevent default action and bubbling
    e.preventDefault();
    e.stopPropagation();
    // set target to anchor's "href" attribute
    var target = $(this).attr("href");
    // scroll to each target
    $(target).velocity("scroll", {
        duration: 500,
        offset: -40,
        easing: "ease-in-out"
    });
  });
});
</script>

<!-- Fade in stuffs arrow -->
<script>
$(".delayFade").velocity("transition.fadeIn",{ delay: 1200, duration: 400, easing: [ 250, 18 ] });
</script>

<!-- Fluidbox activation -->
<script>
$(function () {
  $(".zoomIt").fluidbox({
    closeTrigger: [
      { selector: '#fluidbox-overlay', event: 'click'},
      { selector: 'window', event: 'scroll'}
    ]
  });
});
</script>

<!-- Bounce in on homepage and about me -->
<script>
$.Velocity.RegisterUI("transition.bounceIn", {
  defaultDuration: 1200,
  calls: [
    [ { scale: 0 }, .5, { easing: [ 250, 12 ] } ],
    [ {opacity: 1}, .5],
    [ { scale: 1 }, .7, { easing: [ 250, 12 ] } ]
  ]
});
$(".work-grid").velocity("transition.bounceIn", { delay: 100, stagger: 100, drag: true });
$(".buffalo").velocity("transition.bounceIn");
</script>

<script>
  $(function () {
    $('a[role="fluidbox"]').fluidbox();
  })
</script>

<!-- Gosquare events -->
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-487843-D');
</script>
<script>
  $('[data-event]').on('click', function() {
  _gs('event', $(this).data('event'));
});
</script>

<script src="{{ site.url }}/instantclick.min.js"></script>

<script data-no-instant>
  InstantClick.init(25);
</script>
