<section class="clearfix mt-bs hidden-mobile hi-4 pad-vbs">
  {% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.categories.first | downcase %}
        {% assign catg_posts = category.last %}
    {% endif %}
  {% endfor %}
  {% for post in catg_posts %}
    {% if post.title == page.title %}
      {% unless forloop.last %}
        {% assign next = catg_posts[forloop.index] %}
        <a class="animsition-link text-left inline-block pull-left" href="{{ site.url }}{{ next.url }}">
        <h6 class="no-margin accent block">Previous Work</h6>
        <h5 class="no-margin link--under--accent inline">{{ next.title }}</h5>
        </a>
      {% endunless %}
      {% unless forloop.first %}
        <a class="animsition-link text-right inline-block pull-right" href="{{ site.url }}{{ prev.url }}">
        <h6 class="no-margin accent block">Next Work</h6>
        <h5 class="no-margin link--under--accent inline">{{ prev.title }}</h5>
        </a>
      {% endunless %}
    {% endif %}
    {% assign prev = post %}
  {% endfor %}
</section>
