@mixin underline($background, $color, $change: no) {
  // this uses built in scss color changing fxns, except for underline
  color: $color;
  @include transition(all, .4s, linear);

  // transition for just colors
  @if $change != "underline" {
    background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($color, $color);
    background-size: 0.04em .06em, 0.04em .06em, .06em .06em;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.02em 0 $background, -0.02em 0 $background, 0 0.02em $background, 0 -0.04em $background, 0.08em 0 $background, -0.08em 0 $background, 0.08em 0 $background, -0.12em 0 $background, 0.14em 0 $background, -0.14em 0 $background, 0.16em 0 $background, -0.16em 0 $background;
    background-position-y: 96%, 96%, 96%;
    background-position-x: 0%, 100%, 0%;
    @include transition(background-position-y, .4s, linear);
    &:hover {
      $colorDarker: lighten($color, 10);
      color: $colorDarker;
      background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($colorDarker, $colorDarker);
      background-size: 0.04em .06em, 0.04em .06em, .06em .06em;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.02em 0 $background, -0.02em 0 $background, 0 0.02em $background, 0 -0.04em $background, 0.08em 0 $background, -0.08em 0 $background, 0.08em 0 $background, -0.12em 0 $background, 0.14em 0 $background, -0.14em 0 $background, 0.16em 0 $background, -0.16em 0 $background;
      background-position-y: 96%, 96%, 96%;
      background-position-x: 0%, 100%, 0%;
      @include transition(all, .4s, linear);
    }
  }
  // for the underline change
  @else {
    @include transition(all, .3s, $ease-in-out-quad);
    background: transparent;
    &:hover {
      background: -webkit-linear-gradient($background, $background), -webkit-linear-gradient($background, $background), -webkit-linear-gradient($color, $color);
      background-size: 0.04em .06em, 0.04em .06em, .06em .06em;
      background-repeat: no-repeat, no-repeat, repeat-x;
      text-shadow: 0.02em 0 $background, -0.02em 0 $background, 0 0.02em $background, 0 -0.04em $background, 0.08em 0 $background, -0.08em 0 $background, 0.08em 0 $background, -0.12em 0 $background, 0.14em 0 $background, -0.14em 0 $background, 0.16em 0 $background, -0.16em 0 $background;
      background-position-y: 96%, 96%, 96%;
      background-position-x: 0%, 100%, 0%;
      @include transition(all, .4s, $ease-in-out-quad);
    }
  }
}
