<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="home animsition">
    {% include _navigation_main.html %}
    <section class="full block-1">
      <article>
      <!-- He works in a variety of media with emphasis on web and iOS. -->
        <p>
          Cole Townsend is a visual designer who wants to work with you.
          {% if site.data.work_status contains 'unavailable' %}
          <br> He has a passion for clean and intuitive solutions.
          He is unfortunately unavailable, but encourages you to take a look at his <a data-event="Clicked 'Work' to scroll to work section" class="link--under--accent" href="#work">work</a>.</a>
          {% else %}
          <br> He has a passion for clean and intuitive solutions and is
          available for work. <br><a class="link--under--accent" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%63%6F%6C%65%40%74%77%6E%73%6E%64%2E%63%6F">Get something done.</a>
          {% endif %}
        </p>
      </article>
    </section>
    <section id="work" class="block-2">
      <article class="full">
      <ul>
        {% for post in site.posts %}
        {% if post.home %}
        {% if post.image.feature or post.image.thumb %}
          <li class="work-grid">
            <!-- Blurred project -->
            {% if post.image.blur %}<span class="blur" style="background-image: url({{ site.url }}{{ site.image.post }}{{ post.image.blur }});"></span> {% endif %}

            <!-- Colorize -->
            <span class="colorize" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};"></span>

            <!-- project image -->
            <span class="project {% if post.image.blur %}with-blur{% endif %}" style="background-image: url({{ site.url }}{{ site.image.post }}{% if post.image.thumb %}{{ post.image.thumb }}{% else %}{{ post.image.feature }}{% endif %});"></span>

            <!-- Link Overlay -->
            <a href="{{ site.url }}{{ post.url }}" class="animsition-link" data-event="Clicked {{post.title}} on home page">
              <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
            </a>
        </li>
        {% else %}
          <li class="work-grid" style="background:{% if post.accent_color %}{{ post.accent_color}}{% else %}#EFEFEF{% endif %};">
            <a class="shown" data-event="Clicked {{post.title}}, no feature img" href="{{ site.url }}{{ post.url }}">
              <h1 {% if post.title-color %} style="color: {{ post.title-color }};"{% endif %}>{{ post.title }}</h1>
            </a>
          </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
      </article>
    </section>
    {% include _footer.html %}
  </body>
</html>
