<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
  <body class="home animsition">
    {% include _navigation.html %}
    <section class="full block-1">
      <article class="container">
        <p>
          Cole Townsend is a visual designer who wants to work with you. <br> He has a passion for clean and intuitive solutions.
          {% if site.data.work_status contains 'unavailable' %}
          He is unfortunately unavailable, but encourages you to take a look at his <a data-event="Clicked 'Work' to scroll to work section" class="link--under--accent" href="#work">work</a>.</a>
          {% else %}
          He is currently available for work.<a class="link--under--accent" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%63%6F%6C%65%40%74%77%6E%73%6E%64%2E%63%6F">&#8620;</a>
          {% endif %}
        </p>
      </article>
    </section>
    <section id="work" class="full block-2">
      <ul class="container work-listing">
        {% for post in site.posts %}
        <!-- Journal -->
        {% if post.category == "journal" %}
        {% include atom/_journal-card.html %}
        <!-- Portfolio -->
        {% elsif post.category == "work" %}
          {% include atom/_portfolio-card.html %}
        <!-- Journal -->
        {% elsif post.category == "links" %}
          {% include atom/_link-card.html %}
        {% endif %}
        {% endfor %}
      </ul>
    </section>
    {% include _footer.html %}
  </body>
</html>
