// Mixin
@mixin keyframes($name) {
  @-moz-keyframes #{$name}    { @content; }
  @-webkit-keyframes #{$name} { @content; }
  @-o-keyframes #{$name}      { @content; }
  @-ms-keyframes #{$name}     { @content; }
  @-khtml-keyframes #{$name}  { @content; }
  @keyframes #{$name}         { @content; }
}

@include keyframes(hovering) {
  0% { @include transform(translateY(0)); }
  50% { @include transform(translateY(8px));}
  100% { @include transform(translateY(0));}
}

@include keyframes(drift-left) {
  0% { @include transform(translateX(0)); }
  100% { @include transform(translateX(-0.5em));}
}

@include keyframes(drift-right) {
  0% { @include transform(translateX(0)); }
  100% { @include transform(translateX(0.5em));}
}


@include keyframes(fadeIn) {
  100% { opacity: 1 !important; }
}

%hovering {
  @include animation(hovering 3s $ease-in-out-quad);
  @include animation-delay(1.33s);
  @include animation-iteration-count(infinite);
}

.drift--left::hover {
  @include animation(drift-left .3s $ease-in-out-quad);
  @include animation-delay(.1s);
}

.drift--right::hover {
  @include animation(drift-right .3s $ease-in-out-quad);
  @include animation-delay(.1s);
}

/* Radomir effect from Codrops */
.hover-glow {
  position: relative;
}
.hover-glow::hover {
  content: '';
  position: absolute;
  box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
  -webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
  animation: anim-effect-radomir 0.5s ease-out forwards;
}

