.work-title {
  display: block;
  margin-top: 0;
  padding-bottom: 1em;
  font-size: $fs5;
  text-align: center;
  letter-spacing: 2px;
  color: $red;
  font-style: italic;
  padding-bottom: 1em;
  @include media($medium) {
    padding-bottom: $base-line-height;
  }
}
.work-grid {
  background: $light-gray;
  position: relative;
  text-align: center;
  z-index: 1;
  opacity: 0;
  margin-bottom: 0;
  width: 100%;
  display: block;
  height: 6em;
  h1 {
    font-size: $fs6 ;
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 90%;
    font-weight: 500;
    @extend %liga;
    @extend %vertical-align;
  }
  // Medium
  @include media($medium) {
    margin-bottom: $base-line-height;
    @include span-columns(3);
    @include omega();
    min-height: 320px;
    h1 {
      font-size: $fs6 !important;
    }
  }
  @include media($default) {
    h1 {
      display: block;
      margin: 0 auto;
      text-align: center;
      position: relative;
      max-width: 90%;
      font-size: $fs5;
      font-weight: 500;
      @extend %liga;
      @extend %vertical-align;
    }
  }
  // large screens
  @include media($large) {
    max-height: 400px;
  }
  // children
  &:nth-child(1) {
    @include span-columns(7);
  }
  &:nth-child(2) {
    @include span-columns(5);
    @include omega();
  }
  &:nth-child(3) {
    @include span-columns(5);
  }
  &:nth-child(4) {
    @include span-columns(7);
    @include omega();
  }
  &:nth-child(5) {
    @include span-columns(5);
  }
  &:nth-child(6) {
    @include span-columns(7);
  }
  &:nth-child(7) {
    @include span-columns(5);
    @include omega();
    clear: none;
  }
  &:nth-child(8) {
    @include span-columns(7);
  }
  &:nth-child(9) {
    @include span-columns(5);
    @include omega();
    clear: none;
  }
  // hover states for items within
  &:hover {
    .with-blur {
      opacity: 0;
      @include transition(opacity .3s $ease-in-out-sine);
    }
    .blur {
      opacity: .5;
      @include transition(opacity .3s $ease-in-out-sine);
    }
  }
}

.work-grid > .colorize {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  @include media($small) {
    opacity: .5;
  }
}
.work-grid > .blur {
  opacity: 0;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 9;
  @include transition(opacity .3s $ease-in-out-sine);
  @include media($small) {
    display: none;
  }
}
.work-grid > .project {
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}

.work-grid > a {
  background: none;
  color: $white;
  border: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.16);
  box-shadow: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
  position: absolute;
  // bigger than small
  @include media($default) {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
    position: absolute;
    color: transparentize($white, 1);
    @include transition(background .3s $ease-in-out-quad);
    &.shown {
      color: $white;
      // @include linear-gradient(135deg, $red 20%, $orange 100%);
      background: $purple;
      box-shadow: none;
    }
    box-shadow: inset $base-border-color 0 0 0 1px;
    // hover
    &:hover {
      color: $white;
      text-shadow: none;
      // @include linear-gradient(135deg, transparentize($red, .5) 20%, transparentize($orange, .5) 100%);
      background: transparentize($purple, .5);
      // @include linear-gradient(to top, rgba(0,0,0,.02), rgba(0,0,0,0));
      @include transition(all .3s $ease-in-out-quad);
      @include media($small) {
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
      }
    }
  }
}

