// Main Navigation
// Site Nav
header[role="main-header"] {
  font-family: $sans-serif;
  width: 100%;
  @include user-select();
  @include media($small) {
    padding: 1em;
  }
  // Logo
  hgroup {
    float: left;
    position: relative;
    margin-bottom: 0;
    @include media($small) {
      display: block;
      float: none;
      text-align: center;
      margin-bottom: .5rem;
    }
  }
  a {
    line-height: 90px;
    @include media($small) {
      line-height: .5rem;
    }
  }
  nav {
    @extend %container;
    // padding: 0 3rem;
    display: block;
    position: relative;
    @include media($small) {
      padding: 0;
    }
    ul {
      float: right;
      margin-bottom: 0;
      margin-top: 0;
      @include media($small) {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: .5rem;
      }
    }
    ul li {
      text-align: right;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-left: 2em;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
