// mobile up
.home {
  background: $red-gray;
  header[role="main-header"] {
    background: $red-gray;
  }
}

// go back to homepage layout to make blocks
[block] {
  min-height: 16em;
  position: relative;
  overflow: hidden;
  padding: $base-line-height 0;
  margin: $base-line-height 0;
  @include media($medium) {
    min-height: 20rem;
    height: 40vh;
    min-height: 28rem;
    padding: $base-line-height*2 0;
    margin: $base-line-height*2 0;
  }
  // article
  [neat-grid~="container"] {
    @extend %container;
    float: none;
    height: 100%;
    @include media($medium) {
      padding: $base-line-height*2 0;
    }
  }
  p {
    color: $base-font-color;
    padding: 0;
    font-size: $fs6;
    line-height: $base-line-height;
    @include media($medium) {
      @extend %h3;
    }
  }
}

[block~="1"] {
  background: $red-gray;
}

[block~="2"] {
  ul {
    list-style: none;
    list-style-type: none;
  }
}
