.google-form html .goog-inline-block, .google-form *:first-child + html .goog-inline-block {
  display: inline; }
.google-form body {
  color: #323438;
  font-family: 'Office Code Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  padding: 0 1em;
  background-color: white;
  font-weight: normal; }
.google-form input, .google-form textarea {
  outline: none; }
.google-form .container {
  margin: 0 auto;
  width: 960px; }
.google-form .ss-logo-link {
  display: block; }
.google-form .ss-logo {
  border: none;
  height: 23px;
  width: 105px; }
.google-form .g {
  color: #323438; }
.google-form .ss-form-desc {
  font: inherit;
  width: 99%;
  margin: 0; }
.google-form .ss-powered-by {
  display: block;
  clear: left;
  color: #323438;
  margin: 1em 0.2em 0.2em; }
.google-form .ss-powered-by a:link, .google-form .ss-powered-by a:visited {
  color: #323438; }
.google-form .ss-required-asterisk, .google-form .ss-required {
  color: #d10002; }
.google-form .ss-no-ignore-whitespace {
  white-space: pre-wrap;
  word-wrap: break-word; }
.google-form .ss-confirmation-header {
  font-size: 140%;
  padding-bottom: 1em; }
.google-form .ss-abuse-header {
  background: #fff68f;
  line-height: 1.3em;
  margin: 0 auto 1em;
  padding: 0.5em;
  width: 97%; }
.google-form .ss-navigate {
  clear: both; }
.google-form .form-error-arg {
  font-weight: bold; }
.google-form h1 {
  font-size: 1.8em;
  padding: 0; }
.google-form hr {
  border: 0;
  height: 1px;
  background-color: #f9f9f9; }
.google-form table {
  border-collapse: collapse; }
.google-form textarea {
  font: normal 13px arial, sans-serif; }
.google-form br {
  display: block !important; }
.google-form .aria-only-help {
  font-size: 0;
  left: -9999px;
  position: absolute; }
.google-form .ss-printable-hint {
  display: none; }
.google-form .goog-date-picker, .google-form .goog-date-picker th, .google-form .goog-date-picker td {
  font: 13px Arial, sans-serif; }
.google-form .goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid #000;
  float: left;
  padding: 2px;
  color: #000;
  background: #323438;
  cursor: default; }
.google-form .goog-date-picker th {
  text-align: center; }
.google-form .goog-date-picker td {
  text-align: center;
  vertical-align: middle;
  padding: 1px 3px; }
.google-form .goog-date-picker-menu {
  position: absolute;
  background: #323438;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none; }
.google-form .goog-date-picker-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.google-form .goog-date-picker-menu ul li {
  cursor: default; }
.google-form .goog-date-picker-menu-selected {
  background: #ccf; }
.google-form .goog-date-picker th {
  font-size: 0.9em; }
.google-form .goog-date-picker td div {
  float: left; }
.google-form .goog-date-picker button {
  padding: 0;
  margin: 1px 0;
  border: 0;
  color: #20c;
  background: transparent; }
.google-form .goog-date-picker-date {
  background: white; }
.google-form .goog-date-picker-week, .google-form .goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  border-color: #a2bbdd;
  border-style: solid; }
.google-form .goog-date-picker-week {
  border-right-width: 1px; }
.google-form .goog-date-picker-wday {
  border-bottom-width: 1px; }
.google-form .goog-date-picker-head td {
  text-align: center; }
.google-form td.goog-date-picker-today-cont {
  text-align: center; }
.google-form td.goog-date-picker-none-cont {
  text-align: center; }
.google-form .goog-date-picker-month {
  width: 11ex; }
.google-form .goog-date-picker-year {
  width: 6ex; }
.google-form .goog-date-picker table {
  border-collapse: collapse; }
.google-form .goog-date-picker-other-month {
  color: #888; }
.google-form .goog-date-picker-wkend-start, .google-form .goog-date-picker-wkend-end {
  background: #eee; }
.google-form td.goog-date-picker-selected {
  background: #323438; }
.google-form .goog-date-picker-today {
  background: #9ab;
  border-color: #246 #9bd #9bd #246;
  color: white; }
.google-form .ss-date input, .google-form .ss-datetime input, .google-form .ss-time input {
  font: inherit; }
.google-form .ss-q-time.goog-inline-block {
  padding-left: 1.5em; }
.google-form .ss-hidden-button {
  border: none;
  display: none;
  height: 0;
  padding: 0;
  width: 0; }
.google-form .ss-picker-button-container {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  height: 100%;
  margin-left: 1ex; }
.google-form .ss-picker-container {
  left: 2ex;
  position: absolute;
  z-index: 2; }
.google-form .ss-calendar-button {
  border-left: 1px solid #dcdcdc;
  padding: 5px 4px 4px;
  z-index: 1; }
.google-form .ss-datetime-box {
  border: 1px solid #dcdcdc;
  height: 32px;
  margin-right: 0.6em;
  min-height: 30px;
  padding-left: 3px;
  vertical-align: middle; }
.google-form .ss-datetime-box select {
  margin: 4px 3px;
  vertical-align: middle; }
.google-form .ss-datetime-box-spacer {
  height: 32px;
  vertical-align: middle; }
.google-form .ss-grid {
  overflow-x: auto; }
.google-form .ss-gridnumbers {
  text-align: center;
  border-bottom: 1px solid #d3d8d3; }
.google-form .ss-gridnumber {
  display: block;
  padding: 0.5em 0; }
.google-form .ss-gridrow {
  text-align: center;
  color: #323438;
  border-bottom: 1px solid #d3d8d3;
  padding: 0.5em 0.25em; }
.google-form .ss-grid-row-even {
  background-color: white; }
.google-form .ss-grid-row-odd {
  background-color: #f8f8f8; }
.google-form .ss-gridrow-leftlabel {
  min-width: 100px;
  max-width: 200px;
  padding-left: 15px;
  text-align: left; }
.google-form .ss-grideditor-columns input {
  line-height: 150%; }
.google-form .ss-grideditor-editor .ss-magiclist-ul span.ss-header {
  padding-right: 1em; }
.google-form .ss-grid-separator {
  border: 1px solid #e5e5e5; }
.google-form .ss-scalenumbers {
  text-align: center; }
.google-form .ss-scalenumber {
  display: block;
  padding: 0.5em 0; }
.google-form .ss-scalerow {
  text-align: center;
  color: #323438;
  border: 1px solid #d3d8d3;
  border-left: 0;
  border-right: 0;
  padding: 0.5em 0.25em; }
.google-form td.ss-leftlabel {
  text-align: right;
  padding-left: 0; }
.google-form td.ss-rightlabel {
  text-align: left;
  padding-right: 0; }
.google-form .ss-form-entry {
  margin-bottom: 1.5em; }
.google-form .ss-form-entry input {
  vertical-align: middle;
  margin-left: 0;
  margin-top: 0; }
.google-form .ss-form-entry select {
  max-width: 100%; }
.google-form .ss-q-title {
  display: block; }
.google-form .ss-q-help {
  display: block;
  margin: 0.1em 0 1rem; }
.google-form .ss-secondary-text {
  color: #9b9da4;
  font-size: 16px;
  margin-top: -.5em; }
.google-form .ss-textarea {
  max-width: 99%; }
.google-form .ss-q-long {
  resize: vertical;
  width: 70%; }
.google-form .ss-choices {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0; }
.google-form .ss-choice-item {
  margin: 0;
  line-height: 1.3em;
  padding-bottom: 0.5em;
  display: block; }
.google-form .ss-required-asterisk {
  color: #d10002; }
.google-form .required-message {
  display: none; }
.google-form .ss-section-title {
  background-color: #eee;
  padding: 0.4em;
  margin: 2em -0.4em 0; }
.google-form .ss-section-description {
  margin-top: 0.5em; }
.google-form .ss-page-title {
  margin: 0;
  padding: 0; }
.google-form .ss-formwidget-container:focus {
  outline: none; }
.google-form .ss-item {
  margin: 1.5em 0; }
.google-form .ss-image, .google-form .ss-image-container {
  max-width: 100%; }
.google-form .ss-image:focus {
  outline: none; }
.google-form .img-menu .jfk-button-collapse-left {
  margin-right: 0; }
.google-form .ss-edit-link, .google-form .ss-edit-link:active, .google-form .ss-edit-link:visited, .google-form .ss-edit-link:hover, .google-form .ss-edit-link:link {
  background: url("//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png") 7px 8px no-repeat #1f1f1d;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  font: normal 13px arial, sans-serif;
  padding: 7px 7px 7px 27px;
  text-decoration: none; }
.google-form .disclaimer .ss-terms a:link {
  color: #15c;
  text-decoration: none; }
.google-form .disclaimer .ss-terms a:hover {
  text-decoration: underline; }
.google-form .disclaimer .ss-terms a:active {
  color: #d14836; }
.google-form .disclaimer .ss-terms a:visited {
  color: #61c; }
.google-form .disclaimer {
  color: #777;
  font: normal 11px arial, sans-serif;
  margin-top: 11px; }
.google-form .disclaimer-separator {
  border-top: 1px solid #ebebeb; }
.google-form .disclaimer .ss-logo-link {
  color: #777;
  text-decoration: none; }
.google-form .powered-by-logo {
  display: inline-block;
  vertical-align: bottom; }
.google-form .powered-by-text {
  line-height: 16px; }
.google-form .ss-terms {
  display: inline-block;
  line-height: 20px;
  width: 80%;
  text-align: center; }
.google-form .ss-submit-message {
  font: normal 13px arial, sans-serif;
  margin-bottom: 20px; }
.google-form .ss-form-container {
  background-color: white;
  border: 1px solid #ccc;
  margin: 0.5em auto 0;
  padding: 1em;
  width: 45em; }
.google-form .ss-editing-response {
  border: 1px solid #ccc;
  margin: 1em auto;
  padding: 0 1em;
  width: 43em; }
.google-form .ss-confirmation-banner, .google-form .ss-editing-response {
  background-color: #ffff87; }
.google-form .errorbox-bad {
  border: 2px solid #d10002;
  background-color: #ffe6cc;
  padding: 2px; }
.google-form .error-message {
  display: none; }
.google-form .errorheader {
  color: #d10002; }
.google-form input#emailReceipt {
  margin-left: 0;
  margin-top: 0;
  vertical-align: middle; }
.google-form .no-chrome .powered-by-logo, .google-form .no-chrome .ss-legal, .google-form .no-chrome .ss-edit-link {
  display: none; }
.google-form .ss-prepopulate-input, .google-form .ss-submit-url-input {
  width: 100%; }

.google-form input[type="submit"] {
  position: relative;
  padding: 12px;
  margin: 0;
  background: none;
  border: 1px solid #50e3c2;
  color: #50e3c2;
  white-space: nowrap;
  font-family: "Office Code Pro", Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  background-clip: padding;
  cursor: default;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  box-shadow: none; }
.google-form input[type="submit"]:hover {
  text-shadow: none;
  border: 1px solid #50e3c2;
  color: #fff;
  /*   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); */
  background-color: #50e3c2;
  background-position: 0 0;
  -webkit-transition: none;
  transition: none; }
.google-form input[type="submit"].active, .google-form input[type="submit"]:active {
  background-image: none;
  outline: 0;
  background-color: #50e3c2;
  /*   -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); */ }
.google-form input[type="submit"].disabled, .google-form input[type="submit"].disabled:hover, .google-form input[type="submit"].disabled:active, .google-form input[type="submit"].disabled.active, .google-form input[type="submit"].disabled:focus, .google-form input[type="submit"][disabled], .google-form input[type="submit"][disabled]:hover, .google-form input[type="submit"][disabled]:active, .google-form input[type="submit"][disabled].active, .google-form input[type="submit"][disabled]:focus {
  border: 1px solid #dcdcdc;
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff1f1f1', GradientType=0);
  box-shadow: none;
  text-shadow: none; }
.google-form input[type="submit"]:focus {
  /* Blue border on button focus. */ }
.google-form input[type="submit"], .google-form input[type="submit"]:hover, .google-form .btn-warning, .google-form .btn-warning:hover, .google-form .btn-danger, .google-form .btn-danger:hover, .google-form .btn-success, .google-form .btn-success:hover, .google-form .btn-info, .google-form .btn-info:hover, .google-form .btn-inverse, .google-form .btn-inverse:hover {
  color: #fff;
  /* text-shadow: 0 1px rgba(0, 0, 0, 0.1); */ }
.google-form input[type="submit"]:hover {
  /*   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); */ }
.google-form input[type="submit"]:active, .google-form input[type="submit"].active {
  /*   -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); */ }
.google-form input[type="submit"].active, .google-form input[type="submit"]:active, .google-form input[type="submit"]:hover {
  color: white;
  /* text-shadow: 0 1px rgba(0, 0, 0, 0.3); */ }
.google-form input[type="submit"] {
  background: none;
  border: 2px solid #5cedaf;
  color: #5cedaf; }
.google-form input[type="submit"]:hover, .google-form input[type="submit"]:active, .google-form input[type="submit"].active, .google-form input[type="submit"]:focus {
  border: 2px solid #5cedaf;
  color: #fff;
  background-color: #5cedaf; }
.google-form input[type="submit"]:active, .google-form input[type="submit"].active {
  border: 2px solid #5cedaf;
  color: #fff;
  background-color: #5cedaf; }
.google-form input[type="submit"]:focus {
  border: 2px solid #5cedaf;
  /*   -webkit-box-shadow: inset 0 0 0 1px #ffffff;
-moz-box-shadow: inset 0 0 0 1px #ffffff;
box-shadow: inset 0 0 0 1px #ffffff; */ }
.google-form input[type="submit"].disabled, .google-form input[type="submit"][disabled], .google-form input[type="submit"].disabled:hover, .google-form input[type="submit"][disabled]:hover, .google-form input[type="submit"].disabled:active, .google-form input[type="submit"][disabled]:active, .google-form input[type="submit"].disabled:focus, .google-form input[type="submit"][disabled]:focus {
  border: 2px solid #ccc;
  background-color: #e6e6e6; }
.google-form select, .google-form textarea, .google-form input[type="text"], .google-form input[type="password"], .google-form input[type="datetime"], .google-form input[type="datetime-local"], .google-form input[type="date"], .google-form input[type="month"], .google-form input[type="time"], .google-form input[type="week"], .google-form input[type="number"], .google-form input[type="email"], .google-form input[type="url"], .google-form input[type="search"], .google-form input[type="tel"], .google-form input[type="color"], .google-form .uneditable-input {
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 1px; }
.google-form input, .google-form textarea {
  width: 210px; }
.google-form textarea {
  padding-right: 4px; }
.google-form textarea, .google-form input[type="text"], .google-form input[type="password"], .google-form input[type="datetime"], .google-form input[type="datetime-local"], .google-form input[type="date"], .google-form input[type="month"], .google-form input[type="time"], .google-form input[type="week"], .google-form input[type="number"], .google-form input[type="email"], .google-form input[type="url"], .google-form input[type="search"], .google-form input[type="tel"], .google-form input[type="color"], .google-form .uneditable-input {
  border: 2px solid #ccc;
  box-shadow: none;
  -webkit-transition: none;
  transition: none; }
  .google-form textarea:hover, .google-form input[type="text"]:hover, .google-form input[type="password"]:hover, .google-form input[type="datetime"]:hover, .google-form input[type="datetime-local"]:hover, .google-form input[type="date"]:hover, .google-form input[type="month"]:hover, .google-form input[type="time"]:hover, .google-form input[type="week"]:hover, .google-form input[type="number"]:hover, .google-form input[type="email"]:hover, .google-form input[type="url"]:hover, .google-form input[type="search"]:hover, .google-form input[type="tel"]:hover, .google-form input[type="color"]:hover, .google-form .uneditable-input:hover {
    border: 2px solid #9255d4;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */ }
  .google-form textarea:focus, .google-form input[type="text"]:focus, .google-form input[type="password"]:focus, .google-form input[type="datetime"]:focus, .google-form input[type="datetime-local"]:focus, .google-form input[type="date"]:focus, .google-form input[type="month"]:focus, .google-form input[type="time"]:focus, .google-form input[type="week"]:focus, .google-form input[type="number"]:focus, .google-form input[type="email"]:focus, .google-form input[type="url"]:focus, .google-form input[type="search"]:focus, .google-form input[type="tel"]:focus, .google-form input[type="color"]:focus, .google-form .uneditable-input:focus {
    outline: 0 \9;
    border-color: #9255d4;
    /* box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); */
    -webkit-transition: none;
            transition: none; }
.google-form input[type="checkbox"], .google-form input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative; }
.google-form input[type="radio"] {
  border-radius: 1em;
  width: 15px;
  height: 15px; }
.google-form input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: none e("\9"); }
.google-form input[type="checkbox"]:active, .google-form input[type="radio"]:active {
  border-color: #c6c6c6;
  background-color: #ebebeb;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0); }
.google-form input[type="checkbox"]:checked, .google-form input[type="radio"]:checked {
  background: #fff; }
.google-form input[type="checkbox"]:checked::after {
  content: url("css/checkmark.png");
  display: block;
  position: absolute;
  top: -6px;
  left: -5px; }
.google-form input[type="radio"]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  border-radius: 1em; }
.google-form input[type="checkbox"]:focus, .google-form input[type="radio"]:focus {
  outline: none;
  border-color: #4d90fe; }
.google-form input[disabled], .google-form select[disabled], .google-form textarea[disabled] {
  cursor: not-allowed;
  border: 1px solid #e5e5e5;
  background: #f1f1f1; }
  .google-form input[disabled]:hover, .google-form select[disabled]:hover, .google-form textarea[disabled]:hover {
    box-shadow: none; }
.google-form input[readonly], .google-form select[readonly], .google-form textarea[readonly] {
  cursor: not-allowed;
  border: 1px solid #ccc; }
  .google-form input[readonly]:hover, .google-form input[readonly]:focus, .google-form select[readonly]:hover, .google-form select[readonly]:focus, .google-form textarea[readonly]:hover, .google-form textarea[readonly]:focus {
    box-shadow: none; }

.form-text {
  font-size: 1rem;
  font-family: "Nitti Grotesk", "Neuzeit Grotesk", "Futura PT", "Futura", "Helvetica Neue", sans-serif; }

#ss-form {
  font-size: .75rem;
  padding-bottom: 8rem;
  display: block;
  margin-bottom: 3rem;
  overflow: hidden; }
